@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>制作人邮箱:</strong>   <a href="mailto:suxiaofan111@live.com">suxiaofan111@live.com</a><br />
</address>